@use "../styles/monster";
@use "../styles/paginate";
@use "../styles/btn";
@use "../styles/top";
@use "../styles/details";
@use "../styles/footer";

body,
html {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: "DotGothic16";
  color: #213547;
  letter-spacing: 0.1vw;
}
